---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  cert-*,
  bugprone-*,
  performance-*,
  security-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cert-err58-cpp
WarningsAsErrors: "*"
HeaderFilterRegex: '^(src|include/(?!json\.hpp))'
FormatStyle: file
